@use "./base.scss";

// put your custom CSS here!
:root[saved-theme=dark] {
    --secondary: #f08080 !important;
    --tertiary: #fbc4ab !important;
    --textHighlight: #ffdab9 !important;
}

:root[saved-theme=light] {
    --secondary: #f08080 !important;
    --tertiary: #fbc4ab !important;
    --textHighlight: #ffdab9 !important;
}

:root {
    --bodyFont: 'Crimson Pro', serif !important;
}

/* Forzamos los headers porque Quartz no siempre usa --headerFont */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif !important;
}
